$component-width: 800px;

$primary-color: #ff7429;
$footer-backgound-color: #f5ef28;

$theme-gradient: linear-gradient(
  to right,
  #fb9e25,
  #feae22,
  #ffbe20,
  #ffce22,
  #ffde28,
  #fae627,
  #f5ef28,
  #eef72b,
  #e0f927,
  #d1fb25,
  #c1fd25,
  #b0ff29
);
