@import "./variable";

body {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 1em 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0.5em 0;

  * {
    margin: 0 1em;
  }

  & a {
    background-color: $primary-color;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.75);
    padding: 0.2em 2em;
  }
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 0.5em;
  text-align: center;
  background-color: $footer-backgound-color;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backgroundGradient {
  background-image: $theme-gradient;
}

.searchMovie {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: $component-width;
}

.movie {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 0.5em;
  width: $component-width;
  height: 7em;
}

.movieDetails {
  display: flex;
  flex-direction: column;
  width: $component-width;
  margin: 1rem;

  .content {
    display: flex;
    padding: 1rem;

    > * {
      margin: 0.5rem;
    }
  }
}

.moviePagination {
  button {
    margin: 0 0.5em;
  }
}

.vcenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 800px) {
  .searchMovie {
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .searchMovie * {
    margin: 0.5em 0 0.3em 0;
    width: 16rem;
  }

  .movie {
    width: auto;
  }

  .movieDetails {
    width: auto;

    .content {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (max-width: 400px) {
  body {
    font-size: 1rem;
  }
}
