header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: center;

  & a {
    padding: 1em;
  }
}

main {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: .5em;
  text-align: center;
}
